
{{!-- --------------------------------------------------------------------------------------------------------------------------------------------------------------------- --}}
{{!-- Formulario de ingreso de productos --}}
<h1 class="mx-4 mt-3">Agregue su producto</h1>
<form onsubmit="return addProduct()" class="mx-4 mt-3">
  <div class="mb-3">
    <label for="tittleInput" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="tittleInput" aria-describedby="emailHelp" name="tittle">
  </div>
  <div class="mb-3">
    <label for="priceInput" class="form-label">Precio</label>
    <input type="number" class="form-control" id="priceInput" aria-describedby="emailHelp" name="price">
  </div>
    <div class="mb-3">
    <label for="thumbnailInput" class="form-label">Url imagen</label>
    <input type="text" class="form-control" id="thumbnailInput" aria-describedby="emailHelp" name="thumbnail">
  </div>
  <button type="submit" class="btn btn-primary">Agregar producto</button>
</form>

{{!-- --------------------------------------------------------------------------------------------------------------------------------------------------------------------- --}}
{{!-- Tabla de productos --}}
<h1 class="mt-5 mx-4">Productos</h1>
<table class="table table-striped mx-4 mt-3">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">illustracion</th>
    </tr>
  </thead>
  <tbody id="tablaProductos">
</table>


{{!-- --------------------------------------------------------------------------------------------------------------------------------------------------------------------- --}}
{{!-- Chat --}}
<div class="d-flex justify-content-center">
  <form onsubmit="return addMessage()" class="mt-5 mx-4">
        <input type="email" id="username" placeholder="Tu email">
        <input type="text" id="text" placeholder="¿que piensas?">
        <input type="submit" value="Enviar"></input>
    </form>
    

</div>
<div class="d-flex justify-content-center">
  <div id="messages" class="mx-4" ></div>
</div>


    <script src="main.js"></script>


{{!-- --------------------------------------------------------------------------------------------------------------------------------------------------------------------- --}}




